.chapterNavbar {
  position: sticky;
  top: 0;
  /* background-color: rgba(20, 20, 40, 0.8); */
  padding: 1rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Reusable link styles */
.chapterNavbarLink {
  text-decoration: none;
  cursor: pointer;
  margin: 0 1rem;
  padding: 0.5rem 1.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.9rem rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.7s ease, color 0.5s ease;
  font-size: 0.9rem;
  font-weight: 600;
  /* color: #b8b8ff; */
}

.chapterNavbarLink:hover {
  color: white !important;
  box-shadow: 0 0 1.3rem rgba(255, 255, 255, 0.8);
  transform: translateY(-1.5px);
}

.backBtn {
  position: absolute;
  left: 1rem;
}

.desktopLinks {
  display: flex;
}

.mobileMenuBtn {
  display: none;
  background: none;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.3rem;
  margin-left: 1rem;
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 0.5rem;
  /* background: rgba(20, 20, 40, 0.95); */
  padding: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}


/* mobile responsiveness */

@media (max-width: 768px) {
  .desktopLinks {
    display: none;
  }

  .mobileMenuBtn {
    display: block;
  }
}
